
//colors 
$main-text-gray-color: #666666;
$light-gray-color: #a9a9a9;
$main-white-color: #ffffff;
$light-gray-color-2: #ebebeb;
$background-color: #fafafa;

//break points

$breakpoint-tablet: 768px;
